.admin-sent-req-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: none;
}

.admin-sent-req-container-left {
  position: relative;
  width: 45%;
  height: 100vh;
  /* background-color: aquamarine; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.dashboard-wrapper {
  position: absolute;
  top: 2.5%;
  left: 4.5%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dashboard-icon {
  font-size: 20px;
}

.heading {
  font-weight: lighter;
  font-size: 40px;
  line-height: 55px;
  color: #1c5109;
}

.kyc-highlighted-text {
    color: #c4f593;
    font-weight: 600;
}

.sub-heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 44px;
  color: #1c5109;
  margin-bottom: 15px;
}

.sent-kyc-req-to-customer {
  display: flex;
  flex-direction: column;
}

.sent-kyc-req-to-customer {
  width: 100%;
  height: auto;
}

.input-box {
  width: 50%;
  padding: 15px;
  border-radius: 4.5px;
  border: 1.5px solid rgba(0, 0, 0, 0.179);
  margin-bottom: 12px;
  transition: 0.5s;
  font-size: 18px;
  background: transparent;
  position: relative;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.send-button {
  width: 20%;
  padding: 10px;
  border: none;
  background: #c4f593;
  border-radius: 3px;
  color: #1c5109;
  font-size: 18px;
  transition: 0.5s;
}

.send-button:hover {
    background: #1c5109;
    color: white;
}

.send-button:focus {
  outline: none;
}

.input-box:focus {
  outline: none;
  border: 1.5px solid #1c5109;
}

.admin-sent-req-container-right {
  width: 35%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.admin-sent-req-container-right-canvas {
  width: 100%;
  height: 500px;
  background-image: url("../assets/kyc-req-canvas.png");
  background-size: 100% 100%;
  opacity: 0.9;
}

@media only screen and (max-width: 1024px) {
    .admin-sent-req-container-right {
      display: none;
    }
    .admin-sent-req-container-left {
      width: 80%;

      justify-content: center;
      align-items: center;
    }
    .sent-kyc-req-to-customer {
      justify-content: center;
      align-items: center;
    }
    .input-box {
      width: 70%;
    }
    .send-button {
      width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .admin-sent-req-container-left {
      width: 100%;
    }
    .heading {
      text-align: center;
      font-size: 28px;
      margin-bottom: 0%;
      line-height: 35px;
    }
    .sub-heading {
      text-align: center;
      font-size: 18px;
      margin-bottom: 0%;
      line-height: auto;
    }
    .input-box{
      width: 80%;
    }
    .send-button {
      width: 80%;
    }
}
